<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Ordem de Serviço</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
</head>
<body>
    <header class="my-header">
        <img src="{{ url_for('static', filename='img/jcheader.png') }}" alt="Logo Empresa" class="logo">

    
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Sistema de OS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('index') }}">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('nova_os') }}">Nova OS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('clientes') }}">Adicionar Cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('indexrelatorio') }}">Relatórios</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <h1>Detalhes da Ordem de Serviço</h1>
        <table class="table">
            <tbody>
                <tr>
                    <th>Número da OS</th>
                    <td>{{ os.numero_os }}</td>
                </tr>
                <tr>
                    <th>Data</th>
                    <td>{{ os.data.strftime('%d/%m/%Y') }}</td>
                </tr>
                <tr>
                    <th>Nome do Cliente</th>
                    <td>{{ os.nome_cliente }}</td>
                </tr>
                <tr>
                    <th>Título do Serviço</th>
                    <td>{{ os.titulo_servico }}</td>
                </tr>
                <tr>
                    <th>Descrição</th>
                    <td>{{ os.descricao }}</td>
                </tr>
                <tr class="d-print-none">
                    <th>Valor Cobrado</th>
                    <td>{{ format_currency(os.valor_cobrado) }}</td>
                </tr>
                <tr class="d-print-none">
                    <th>Forma de Pagamento</th>
                    <td>{{ os.forma_pagamento }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ os.status }}</td>
                </tr>
            </tbody>
        </table>

        <div>
            <a href="{{ url_for('editar_os', id=os.id) }}" class="btn btn-primary">Editar</a>
            <form method="post" action="{{ url_for('remover_os', id=os.id) }}" style="display: inline;">
                <input type="submit" value="Remover" onclick="return confirm('Tem certeza que deseja remover esta OS?')" class="btn btn-danger">
            </form>
            <button class="btn btn-primary" onclick="window.print()">Imprimir</button>
        </div>
    </div>

    <footer>
        <hr>
        <p class="text-muted">Desenvolvido por Marllons - Versão 1.0.0</p>
    </footer>
</body>
</html>
